<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--默认数程序2.5496704-->
    <add key="DbDefault_Conn" value="initial catalog=E:\net系统\n35\CHisMain\bin\Debug\CHIS.FDB;user id=sysdba;password=masterkey;character set=GB_2312;server type=Embedded"/>
    <add key="DbDefault" value="YiTian.db.FbSqlDb"/>
    
    <add key="softName" value="村His"/>
  </appSettings>

	
	<runtime>
		
	</runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IOptService" closeTimeout="00:05:00"
            openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="665536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="665536" maxArrayLength="116384"
              maxBytesPerRead="14096" maxNameTableCharCount="116384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
	  <basicHttpBinding>
                <binding name="HisInterfaceHttpBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/lktgc/OptService.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IOptService" contract="service.IOptService"
          name="WSHttpBinding_IOptService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
	  <endpoint address="http://jk.gzxnh.gov.cn/xxj/services/HisInterface"
                binding="basicHttpBinding" bindingConfiguration="HisInterfaceHttpBinding"
                contract="NHService.HisInterfacePortType" name="HisInterfaceHttpPort" />
    </client>
  </system.serviceModel>
</configuration>
