<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--默认数程序2.5496704-->
    <add key="DbDefault_Conn" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Update.db;Persist Security Info=True" />
    <add key="DbDefault" value="YiTian.db.OleDB" />
    <!--<add key="DbDefault" value="YiTian.db.FbSqlDb" />  -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RunErr" value="true" />
    <add key="KeyToUpper" value="false" />
    <add key="ConfigBz" value="LKHis_" />
    <add key="RootPlugs" value="YtDict,RepEdit" />
    <add key="HisVersion" value="2.0.4.26" />
        
    <add key="SendReceiveTimeout" value="15,15" />
    <!--超时时间设置-->
    <add key="RegActivexControl" value="报表控件,E497F563-E14C-48EC-87FA-E9C514D3BC0C,gregn50.dll;报表控件,F5EFB38E-EBEF-46E9-A9B5-051076391D75,grdes50.dll" />
  </appSettings>
  <runtime>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IOptService" closeTimeout="00:01:00" openTimeout="00:00:05" receiveTimeout="00:00:30" sendTimeout="00:00:30" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="6655360" maxArrayLength="116384" maxBytesPerRead="4096" maxNameTableCharCount="116384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="HisInterfaceHttpBinding" closeTimeout="00:01:00" openTimeout="00:00:05" receiveTimeout="00:01:00" sendTimeout="00:00:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="6655360" maxArrayLength="116384" maxBytesPerRead="4096" maxNameTableCharCount="116384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--"http://localhost/LKHis/OptService.svc"
          "http://hiscs.gzwsxxh.com:82/hiscs/OptService.svc"  -->
      <endpoint address="http://localhost/LKHis/OptService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOptService" contract="service.IOptService" name="WSHttpBinding_IOptService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://jk.gzxnh.gov.cn/xxj/services/HisInterface" binding="basicHttpBinding" bindingConfiguration="HisInterfaceHttpBinding" contract="NHService.HisInterfacePortType" name="HisInterfaceHttpPort" />
    </client>    
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" savePasswordHashLocally="True" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>